$azulProgress=#0C5380
$verdeProgress=#2b7b3b
$grisImagenDestacada=#f7f7f7
$funcionalidadesNormal=#f6f9ff
$funcionalidadesNormalHeader=#bcd2ff
$funcionalidadesResaltar=#f4ffca
$funcionalidadesResaltarHeader=#c9ed8a
