@import url("https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700italic,700,800,800italic,900,900italic&subset=latin,latin-ext");
@media (min-width: 768px) {
  .container {
    width: 800px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.navbar-topContacts {
  background: rgba(0,0,0,0.6);
  margin: 0;
}
.navbar-topContacts a {
  color: #fff;
}
.navbar-topContacts .nav {
  line-height: auto;
}
.navbar-progress {
  background: rgba(255,255,255,0.65);
  border-radius: 0;
}
.navbar-progress li a {
  color: #000;
}
.navbar-progress li.active a {
  color: #0c5380;
  font-weight: bold;
}
span.icon-bar {
  background: #0c5380;
}
.nav-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.nav-progress li {
  margin-left: 1em;
}
.nav-mainProgress {
  height: auto;
}
.navbar-header-progress {
  line-height: 60px;
}
.nav-progress-top {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .nav-progress {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .nav-mainProgress {
    height: 60px;
  }
}
body {
  font-family: 'Raleway', sans-serif;
}
.container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flexible {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.Progress {
  padding: 3em 0 0 0;
  color: #5b553e;
}
.Progress__Titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: lighter;
  display: table;
  font-size: 2em;
  font-weight: 600;
  position: relative;
  text-align: center;
  padding: 0;
  overflow: hidden;
}
.Progress__Titulo:after {
  content: '';
  border-top: 2px solid #0c5380;
  display: table-cell;
  top: 50%;
  width: 100%;
  position: absolute;
}
.Progress__Titulo p {
  margin: 0 1em;
  position: relative;
  z-index: 2;
  background: #fff;
  padding: 0 0.5em;
  text-transform: uppercase;
}
.Progress__Subtitulo {
  text-align: center;
  width: 80%;
  font-weight: 200;
  font-style: italic;
}
.Progress__Atributos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 1em 0;
}
.Progress__Atributo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 1em;
  text-align: center;
  min-width: 250px;
  max-width: 400px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.Progress__Atributo__Imagen {
  width: 100%;
  height: auto;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Progress__Atributo__Titulo {
  font-weight: 700;
  font-size: 1.3em;
  margin-top: 1em;
}
.Progress__Atributo__Resumen {
  width: 80%;
}
.Boton__Ir {
  font-weight: bold;
  padding: 0.5em 0.5em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  width: 15em;
  margin: 1em;
  border-style: solid;
  border-width: 2px;
  background-color: #fff;
}
.EquipoDeTrabajo {
  color: #fff;
  overflow: hidden;
}
.EquipoDeTrabajo__Titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: lighter;
  display: table;
  font-size: 1.5em;
  font-weight: 600;
  position: relative;
  text-align: center;
  padding: 0;
  overflow: hidden;
}
.EquipoDeTrabajo__Titulo:after {
  content: '';
  border-top: 2px solid #0c5380;
  display: table-cell;
  top: 50%;
  width: 100%;
  position: absolute;
}
.EquipoDeTrabajo__Titulo p {
  margin: 0 1em;
  position: relative;
  z-index: 2;
  background: #2b7b3b;
  padding: 0 0.5em;
  text-transform: uppercase;
}
.EquipoDeTrabajo__Flexible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.EquipoDeTrabajo__Contenedor {
  background: #2b7b3b;
  position: relative;
  z-index: 1;
  padding: 3em 0;
  -webkit-box-flex: 8;
  -ms-flex: 8;
  flex: 8;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.EquipoDeTrabajo__Contenedor:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: -10%;
  left: -10%;
  background: #2b7b3b;
  z-index: -1;
  -webkit-transform: rotateX(0deg) rotateY(80deg) rotateZ(125deg);
  transform: rotateX(0deg) rotateY(80deg) rotateZ(125deg);
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-perspective: 1px;
  perspective: 1px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: 1px solid transparent;
}
.EquipoDeTrabajo__imagen {
  display: none;
  max-width: 700px;
}
.EquipoDeTrabajo__imagen img {
  min-height: 330px;
}
.EquipoDeTrabajo__contenido {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.EquipoDeTrabajo__Contenido {
  width: 85%;
  font-weight: 200;
  font-style: italic;
}
.EquipoDeTrabajo__Contenido img.Equipo__Trabajo__img {
  height: 100%;
  width: 100%;
  position: absolute;
}
.EquipoDeTrabajo__Contenido p {
  margin-bottom: 2em;
}
@media (min-width: 760px) {
  .EquipoDeTrabajo__imagen {
    display: block;
    -webkit-box-flex: 9;
    -ms-flex: 9;
    flex: 9;
  }
}
.ProductosyServicios {
  padding: 3em 0;
  color: #5b553e;
}
.ProductosyServicios__Titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: lighter;
  display: table;
  font-size: 2em;
  font-weight: 600;
  position: relative;
  text-align: center;
  padding: 0;
  overflow: hidden;
}
.ProductosyServicios__Titulo:after {
  content: '';
  border-top: 2px solid #0c5380;
  display: table-cell;
  top: 50%;
  width: 100%;
  position: absolute;
}
.ProductosyServicios__Titulo p {
  margin: 0 1em;
  position: relative;
  z-index: 2;
  background: #e8e8e8;
  padding: 0 0.5em;
  text-transform: uppercase;
}
.ProductosyServicios__Subtitulo {
  text-align: center;
  width: 80%;
  font-weight: 200;
  font-style: italic;
}
.ProductosyServicios__Atributos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 1em 0;
}
.ProductosyServicios__Atributo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 1em;
  min-width: 250px;
  max-width: 400px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.ProductosyServicios__Atributo__Imagen {
  width: 100%;
  height: auto;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ProductosyServicios__Atributo__Titulo {
  font-weight: 600;
  font-size: 1.3em;
  margin-top: 1em;
}
.ProductosyServicios__Atributo__Resumen {
  width: 80%;
  font-weight: 400;
}
.Calidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 3em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.Calidad__Contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 3em 1em 0;
  max-width: 450px;
}
.Calidad__Titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: lighter;
  display: table;
  font-size: 2em;
  font-weight: 600;
  position: relative;
  text-align: center;
  padding: 0;
  overflow: hidden;
}
.Calidad__Titulo:after {
  content: '';
  border-top: 2px solid #0c5380;
  display: table-cell;
  top: 50%;
  width: 100%;
  position: absolute;
}
.Calidad__Titulo p {
  margin: 0 2em;
  position: relative;
  z-index: 2;
  background: #fff;
  padding: 0 0.5em;
  text-transform: uppercase;
}
@media (min-width: 640px) {
  .Calidad {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.ImagenDestacada__imagen {
  margin: 0 5em;
  z-index: 2;
}
.ImagenDestacada__fondo {
  position: absolute;
  width: 100%;
  height: 80%;
  background: #f7f7f7;
  top: 10%;
  z-index: 1;
}
.ContenidoDestacado__descripcion {
  margin: 0 5em;
  z-index: 2;
}
.ContenidoDestacado__descripcion img {
  margin-right: 0;
}
.ContenidoDestacado__descripcion p {
  color: #0c5380;
  font-weight: 700;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.ContenidoDestacado__descripcion a {
  margin-left: 0;
  color: #0c5380;
  border: solid 2px #0c5380;
  padding: 0.1em 1em;
}
.ContenidoDestacado__descripcion a:hover,
.ContenidoDestacado__descripcion a:focus {
  text-decoration: none;
}
.ContenidoDestacado__descripcion .circle {
  display: none;
}
.ContenidoDestacado__fondo {
  position: absolute;
  width: 100%;
  height: 80%;
  background: #f7f7f7;
  top: 10%;
  z-index: 1;
}
@media (min-width: 830px) {
  .ContenidoDestacado__descripcion img {
    margin-right: 2em;
  }
  .ContenidoDestacado__descripcion p {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .ContenidoDestacado__descripcion a {
    margin-left: 2em;
  }
  .ContenidoDestacado__descripcion .circle {
    width: 30px;
    height: 30px;
    background: #008000;
    border-radius: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 1em;
    color: #fff;
  }
}
.Beneficio__Contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.Beneficio__titulo {
  font-weight: 700;
  margin: 2em 0 1em 0;
}
.Beneficio__Descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.Beneficio__Descripcion__icono {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 2em;
}
.Beneficio__Descripcion__texto {
  -webkit-box-flex: 6;
  -ms-flex: 6;
  flex: 6;
}
.Beneficio__Descripcion__texto ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.Beneficio__Descripcion__texto ul li:before {
  content: '\2013';
  margin-right: 1em;
}
@media (min-width: 640px) {
  .Beneficio__Descripcion {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.Funcionalidades table {
  text-align: center;
}
.Funcionalidades table th {
  text-align: center;
}
.Funcionalidades table th:nth-child(2),
.Funcionalidades table th:nth-child(4) {
  background: #bcd2ff;
}
.Funcionalidades table th:nth-child(3) {
  background: #c9ed8a;
}
.Funcionalidades table tr td:first-child {
  text-align: left;
}
.Funcionalidades table tr td:nth-child(2),
.Funcionalidades table tr td:nth-child(4) {
  background: #f6f9ff;
}
.Funcionalidades table tr td:nth-child(3) {
  background: #f4ffca;
}
.Funcionalidades a {
  color: #fff;
  padding: 0.4em 1.2em;
  font-weight: 500;
  background: #2b7b3b;
}
.Funcionalidades a:hover,
.Funcionalidades a:focus {
  text-decoration: none;
  background: #fff;
  color: #2b7b3b;
}
.Producto__Contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
a.masFuncionalidades {
  color: #0c5380;
  font-weight: 600;
  border: solid 2px #0c5380;
  padding: 0.5em 1em;
  margin: 1em;
}
a.cotizar {
  color: #fff;
  background: #2b7b3b;
  padding: 0.5em 1em;
  border: #2b7b3b 2px solid;
  font-weight: 500;
}
.Producto__Texto__Titulo {
  font-size: 1.5em;
  font-weight: 600;
  color: #0c5380;
  font-style: italic;
}
.Producto__Texto__Descripcion {
  font-style: italic;
  font-weight: 300;
}
.Producto__Texto__Caracteristica {
  width: 50%;
  float: left;
  margin: 0.5em 0;
}
.Producto__Texto__Caracteristica img {
  margin-right: 0.5em;
}
.Producto__Texto__Caracteristicas {
  margin: 2em 0;
}
.Producto__Contenedor {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.Producto__Texto__botones {
  margin: 1em 0;
}
.Producto__Contenedor {
  padding: 0;
}
@media (min-width: 870px) {
  .Producto__Contenedor:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    padding-left: 5em;
  }
  .Producto__Contenedor:nth-child(even) .Producto__Texto__botones {
    float: left;
  }
  .Producto__Contenedor:nth-child(odd) {
    background: #f6f6f6;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-right: 5em;
  }
  .Producto__Contenedor:nth-child(odd) .Producto__Texto__botones {
    float: right;
  }
  .Producto__Imagen {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .Producto__Texto {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 2em 0;
  }
}
@media (min-width: 955px) {
  .Producto__Imagen {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
  .Producto__Texto {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
    margin: 2em 0;
  }
}
@media (min-width: 1070px) {
  .Producto__Imagen {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .Producto__Texto {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    margin: 2em 0;
  }
}
section.Direccion.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 70%;
  margin: 2em auto;
}
.Direccion__texto {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-weight: 300;
}
.Direccion__mapa {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.Direccion__mapa #map {
  min-height: 200px;
  width: 100%;
  height: 100%;
}
.Direccion__texto__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
/* justify-content: space-around; */
}
.Direccion__texto__socials a {
  color: #fff;
  background: #0c5380;
  font-size: 1.5em;
  margin: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
form.ContactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin: 1em auto;
}
.FormHalf {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.FormHalf:nth-child(1) {
  text-align: left;
}
.FormHalf:nth-child(2) {
  text-align: right;
}
.formField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.formField select {
  height: 2.5em;
}
.formField input,
.formField textarea,
.formField select {
  width: 95%;
  border-radius: 10px;
  border: none;
  background: #f6f6f6;
  padding: 0.5em;
  margin-bottom: 10px;
}
.formField button {
  border: transparent;
  padding: 0.5em 1.5em;
  background: #0c5380;
  color: #fff;
}
.formField button[disabled] {
  background: #f7f7f7;
}
@media (min-width: 768px) {
  section.Direccion.container,
  form.ContactForm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
section.Links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 2em;
}
.Menus {
  display: none;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.Contactos {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0;
}
.Subscripcion {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.Menus,
.Contactos,
.Subscripcion {
  margin-bottom: 2em;
}
footer {
  color: #fff;
  border-top: 10px #008000 solid;
  padding: 1em;
}
section.Copyleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.Menus__links>ul,
.Contactos__Direccion,
.Subscripcion__descripcion {
  list-style: none;
  padding: 0;
  font-weight: 100;
}
.Menus__links>ul p a,
.Contactos__Direccion p a,
.Subscripcion__descripcion p a {
  color: #fff;
}
.Menus__Titulo,
.Contactos__Titulo,
.Subscripcion__Titulo {
  font-weight: 600;
  text-transform: uppercase;
}
.Contactos__Sociales {
  font-size: 1.4em;
}
.Contactos__Sociales a {
  margin: 1em;
  color: #fff;
  text-decoration: none;
}
.Contactos__Sociales a:hover {
  color: #6e6e6e;
}
section.Copyleft {
  color: #808080;
  margin-top: 2em;
  font-size: 0.8em;
}
section.Copyleft {
  color: #808080;
  margin-top: 2em;
  font-size: 0.8em;
}
.Subcsripcion__Formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.Subcsripcion__Formulario form {
  width: 100%;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Subcsripcion__Formulario form input[type="email"] {
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  color: #000;
  padding: 0 1em;
  border: transparent;
}
.Subcsripcion__Formulario form button {
  border: transparent;
  padding: 0.5em 1.5em;
  background: #0c5380;
}
@media (min-width: 640px) {
  section.Links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .Menus,
  .Contactos,
  .Subscripcion {
    margin-bottom: 0;
    max-width: 330px;
  }
  .Menus a,
  .Contactos a,
  .Subscripcion a {
    color: #fff;
  }
  .Menus {
    display: block;
  }
  .Menus__links li {
    margin: 0.5em;
  }
  .Contactos {
    margin: 0 2em;
  }
}
.FormularioLanding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 100px;
}
.FormularioLanding__Descripcion {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.FormilarioLanding__Formulario {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0 5em;
  background: rgba(0,0,0,0.4);
  color: #fff;
}
.FormularioLanding__Descripcion__Container {
  background: rgba(0,0,0,0.4);
  color: #fff;
  padding: 2em;
  font-size: 1.3em;
}
.FormularioLanding__Descripcion__Titulo {
  font-size: 1em;
  font-weight: bold;
}
.FormularioLanding__Descripcion__Producto {
  font-size: 2.5em;
  font-weight: bold;
  position: relative;
}
.FormularioLanding__Descripcion__Producto:after {
  content: '';
  position: absolute;
  width: 70%;
  border-bottom: solid #f00 2px;
  bottom: 0;
}
.FormilarioLanding__Formulario__Titulo {
  padding: 2em;
  text-align: center;
  font-weight: 700;
  background: #0c5380;
  font-size: 1.2em;
}
.FormilarioLanding__Formulario__Fields {
  padding: 2em 1em;
  color: #fff;
  text-align: center;
}
.FormilarioLanding__Formulario__Fields .formField {
  margin-bottom: 1em;
}
.FormilarioLanding__Formulario__Fields .formField select {
  color: #000;
}
.LandingFormmensaje {
  padding: 2em 0;
}
.botonCotizacion {
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: -webkit-linear-gradient(top, #7892c2 5%, #0c5480 100%);
  background: linear-gradient(to bottom, #7892c2 5%, #0c5480 100%);
  background-color: #7892c2;
  border-radius: 10px;
  border: 1px solid #0c5480;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 19px;
  padding: 12px 37px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #0c5480;
}
.botonCotizacion:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0c5480), color-stop(1, #7892c2));
  background: -webkit-linear-gradient(top, #0c5480 5%, #7892c2 100%);
  background: linear-gradient(to bottom, #0c5480 5%, #7892c2 100%);
  background-color: #0c5480;
}
.botonCotizacion:active {
  position: relative;
  top: 1px;
}
.FormularioLanding__Descripcion__Caracteristicas {
  font-size: 0.9em;
}
.FormularioLanding__Descripcion__Caracteristicas img {
  margin-right: 1em;
}
.FooterLanding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #000;
}
.FooterLanding .Contactos__Sociales a {
  color: #0c5380;
}
.TitloDestacado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.TituloDestacado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2em 4em;
  font-size: 2em;
  font-weight: 800;
  text-align: center;
}
.ImagenyContenidoDestacado.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.ImagenyContenidoDestacado__Contenido {
  max-width: 450px;
}
.CaracteristicasLanding__Container {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.CaracteristicasLanding__Caracteristica {
  -ms-flex-preferred-size: calc(33% - 4em);
  flex-basis: calc(33% - 4em);
  margin: 2em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  text-align: center;
}
.CaracteristicasLanding__Caracteristica__icono {
  background: #fff;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
}
section.CaracteristicasLanding {
  background: #808080;
}
.CaracteristicasLanding__Caracteristica__titulo {
  font-size: 1.5em;
  font-weight: 600;
}
.ClientesLanding__Container {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 80%;
}
.ClientesLanding__Cliente {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  margin-bottom: 1em;
}
section.SolicitarDemo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.SolicitarDemo__Titulo {
  font-size: 2em;
  font-weight: 600;
}
.SolicitarDemo__boton {
  margin: 1em;
}
@media (max-width: 1200px) {
  .FormularioLanding__Descripcion__Producto:after {
    width: 100%;
  }
  .FlexFormSection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media (max-width: 992px) {
  .FlexFormSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 640px) {
  .ImagenyContenidoDestacado.container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
