.ProductosyServicios
	padding 3em 0
	color: #5b553e;
.ProductosyServicios__Titulo
	display: flex;
	font-weight: normal;
	display: table;
	font-size: 2em;
	font-weight: 600
	position: relative;
	text-align: center;
	padding: 0
	overflow hidden
	&:after
		content ''
		border-top 2px solid $azulProgress
		display table-cell
		top 50%
		width 100%
		position absolute
	p
		margin:0 1em;
		position: relative;
		z-index: 2;
		background:rgb(232,232,232);
		padding: 0 0.5em;
		text-transform: uppercase
.ProductosyServicios__Subtitulo
	text-align: center;
	width: 80%;
	font-weight: normal;
	font-style: italic;
.ProductosyServicios__Atributos
	width: 100%;
	display: flex;
	flex-wrap wrap
	align-items: center;
	justify-content: center;
	margin: 1em 0;
.ProductosyServicios__Atributo
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin:0 1em;
	min-width: 250px;
	max-width: 400px;
	flex: 1;

.ProductosyServicios__Atributo__Imagen {
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.ProductosyServicios__Atributo__Titulo {
    font-weight: 600;
    font-size: 1.3em;
    margin-top: 1em;
}

.ProductosyServicios__Atributo__Resumen {
    width: 80%;
    font-weight normal
}
